xcalib $HOME/.local/share/B140QAN02_0_02-10-2018.icm
xsetroot -bg black
xsetroot -cursor_name left_ptr
xrdb -load $HOME/.Xresources

udiskie &

if [ -d "$XDG_RUNTIME_DIR/gnupg/" ]; then
    export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/gnupg/S.gpg-agent.ssh"
    gpg-connect-agent -q updatestartuptty /bye
fi
